*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #444;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  color: #dfc7e3;
}

.coming-soon {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.day,
.hour,
.minute,
.second {
  font-size: 3rem;
  padding-top: 1.5em;
}

.construction-image {
  max-height: 65vh;
  padding-top: 3em;
}

span {
  /* opacity: 0; */
  transition: all 0.5s ease;
  /* transform: translateY(50px);
  display: inline-block; */
}

span.fade {
  /* opacity: 1;
  transform: translateY(0px); */
  color: #ba68c8;
}
